* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: black;
  background: #6f85ffad;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: blue;
  text-decoration: none;
}

button {
  color: #ddd;
  cursor: pointer;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #8c00ff;
  text-transform: uppercase;
  font-weight: bold;
}

input {
  padding: 8px;
  font-size: 16px;
  margin-bottom: 16px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 3px;
}

input:focus {
  outline: #8c00ff solid 2px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  width: 550px;
  margin: 150px auto;
  padding: 16px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.users-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  margin: 50px auto;
  height: 600px;
}

.users-list table {
  border-collapse: collapse;
  width: 100%;
  background-color: #ddd;
  table-layout: fixed;
}

.table-container {
  margin: 12px;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.users-list th {
  color: #ddd;
  background-color: #8c00ff;
  padding: 15px;
  text-align: left;
}

.users-list td {
  padding: 15px;
  vertical-align: middle;
  border-bottom: 1px solid #cecece;
}

.users-list thead th {
  position: sticky;
  top: 0;
}

.logout-btn {
  position: absolute;
  left: 12px;
  top: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}